<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>
<body>
	<header class="header-area header-sticky" th:fragment="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="/index" class="logo"> <img src="/css/image/logo.png"
							alt="" />
						</a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li class="scroll-to-section"><a href="/" class="active">Home</a>
							</li>
							<li class="submenu"><a style="cursor: pointer;">Men's</a>
								<ul>
									<li th:each="category : ${category}"><a
										th:href="@{/shop/men/{category}(category=${category.id})}"
										th:text="${category.name}"></a></li>
								</ul></li>
							<li class="submenu"><a style="cursor: pointer;">Women's</a>
								<ul>
									<li th:each="category : ${category}"><a
										th:href="@{/shop/women/{category}(category=${category.id})}"
										th:text="${category.name}"></a></li>
								</ul></li>
							<li class="submenu"><a style="cursor: pointer;">Kid's</a>
								<ul>
									<li th:each="category : ${category}"><a
										th:href="@{/shop/kid/{category}(category=${category.id})}"
										th:text="${category.name}"></a></li>
								</ul></li>
							<li class="submenu"><a style="cursor: pointer;">Pages</a>
								<ul>
									<li><a href="/shop/about">About Us</a></li>
									<li><a href="/shop/products">Products</a></li>
									<li><a href="/shop/contact">Contact Us</a></li>
								</ul></li>
							<li class="submenu"><a style="cursor: pointer;">Brands</a>
								<ul>
									<li th:each="brand : ${brand}"><a
										th:href="@{/shop/brand/{brand}(brand=${brand.id})}"
										th:text="${brand.name}"></a></li>
								</ul></li>
							<li class="scroll-to-section"><a href="#explore">Explore</a>
							</li>
						</ul>
						<a class="menu-trigger"> <span>Menu</span>
						</a>
					</nav>
				</div>
			</div>
		</div>
	</header>

</body>
</html>
