<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{base :: base-head}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div th:replace="preloader :: preloader"></div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <div th:replace="~{header :: header}"></div>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-content">
              <h2 style="color: black;">Check Our Men's Products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading">
              <h2 th:text="Our+' '+Latest+' '+kid+' '+${categoryName}"></h2>
              <span th:text="Check+' '+out+' '+all+' '+of+' '+our+' '+Men+' '+${categoryName}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4" th:each="product : ${product}">
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a th:href="@{/shop/product/{id}(id=${product.id})}"><i class="fa fa-eye"></i></a>
                    </li>
                    <li>
                      <a th:href="@{/admin/products/add}"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                  </ul>
                </div>
                <img th:src="'data:image/png;base64,'+${blob.getImgData(product.image)}" alt=""/>
              </div>
              <div class="down-content">
                <h4 th:text="${product.name}"></h4>
                <span th:text="₹+' '+${product.price}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Products Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <div th:replace="~{footer::footer}"></div>
    <!-- ***** Footer End ***** -->

    <!-- ***** Scripts Start ***** -->
    <div th:replace="~{scripts :: scripts}"></div>
    <!-- ***** Scripts End ***** -->
  </body>
</html>
